
/* Hover,active,visited links */

a {
  text-decoration: none;
  transition: .3s;
  font-size: 17px;
  line-height: 23px;
}

a:hover {
  font-style: oblique;
}
a:active {
  color: hsla(0, 0%, 29%, 1);
}
a:visited {
  color: CornflowerBlue ;
}

b {
  color: #119292;
  font-weight: 700;
}

b:hover {
  color: slategrey;
  font-style: oblique;
}
b:active {
  color: hsla(0, 0%, 29%, 1);
}
b:visited {
  color: CornflowerBlue ;
}

c {
  color: white;
  font-weight: 700;
}

c:hover {
  color: white;
  font-style: oblique;
}
c:active {
  color: White;
}
c:visited {
  color: white;
}
